<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet">主页</span></a></li>
            <li><a href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet">企业管理</span></a></li>
            <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet">动态管控</span></a></li>
            <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet">统计分析</span></a></li>
            <li><a href="{:url('admin/record/dataList')}"><i class="icon-edit"></i><span class="hidden-tablet">报备录入</span></a></li>
            <li><a href="{:url('admin/company/dataList')}"><i class="icon-list-alt"></i><span class="hidden-tablet">企业录入</span></a></li>
            <li><a href="{:url('admin/truck/dataList')}"><i class="icon-tasks"></i><span class="hidden-tablet">车辆录入</span></a></li>
            <li><a href="{:url('admin/person/dataList')}"><i class="icon-eye-open"></i><span class="hidden-tablet">人员录入</span></a></li>

        </ul>
    </div>
</div>