{include file="public/header" /}
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        {include file="public/menu" /}
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <i class="icon-edit"></i>
                    <a href="#">人员录入</a>
                </li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2>人员信息录入 </h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">姓名</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="name1">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">性别</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="Gender">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">照片</label>
                                    <div class="controls">
                                        <input type="file" class="span6 typeahead" id="typeahead"  data-provide="typeahead" name="imgurl">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">身份证号码</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="card">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="date01">年龄</label>
                                    <div class="controls">
                                        <input name="age" type="text" class="typeahead" id="date01">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">家庭住址</label>
                                    <div class="controls">
                                        <input name="address" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">婚姻</label>
                                    <div class="controls">
                                        <input name="marry" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">驾驶证类型</label>
                                    <div class="controls">
                                        <input name="drivertype" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">押运证</label>
                                    <div class="controls">
                                        <input name="Escortcard" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">是否重点管理对象</label>
                                    <div class="controls">
                                        <input name="key" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">常驾驶车辆</label>
                                    <div class="controls">
                                        <input name="truck" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">常押运车辆</label>
                                    <div class="controls">
                                        <input name="EscortTruck" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source=''>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here settings can be configured...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
{include file="public/foot" /}