{include file="public/header" /}
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        {include file="public/menu" /}
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <i class="icon-edit"></i>
                    <a href="#">报备编辑</a>
                </li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>报备信息编辑 </h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post">
                            <input type="hidden" name="Id" value="{$data.Id}">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">车牌</label>
                                    <div class="controls">
                                        <p class="help-block">可以根据报备历史信息，提示下拉列表选择输入。</p>
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="truckID" value="{$data.truckID}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属货物属性</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="goodskind" value="{$data.goodskind}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属介质名称</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="Medium" value="{$data.Medium}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">通行方式</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="Throughmode" value="{$data.Throughmode}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="date01">报备开始时间</label>
                                    <div class="controls">
                                        <input name="startdate" type="text" class="input-xlarge datepicker" id="date01" value="{$data.startdate|date='Y-m-d',###}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">通行路线</label>
                                    <div class="controls">
                                        <input name="Route" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.Route}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">联系电话</label>
                                    <div class="controls">
                                        <input name="contact" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source='' value="{$data.contact}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">驾驶员</label>
                                    <div class="controls">
                                        <select class="select" name="Driver" size="1" >
                                            <option value="" selected="">请选择驾驶员</option>
                                            {volist name="driver" id='vo'}
                                            <option value="{$vo.Id}" {eq name="vo.Id" value="$data.Driver"}selected{/eq}>{$vo.name1}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">押运员</label>
                                    <div class="controls">
                                        <input name="Escort" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.Escort}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属地域</label>
                                    <div class="controls">
                                        <input name="area" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.area}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属企业</label>
                                    <div class="controls">
                                        <select class="select" name="company" size="1" >
                                            <option value="" selected="">请选择公司</option>
                                            {volist name="company" id='vo'}
                                            <option value="{$vo.Id}" {eq name="vo.Id" value="$data.company"}selected{/eq}>{$vo.person}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here settings can be configured...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
{include file="public/foot" /}