{include file="public/header" /}
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        {include file="public/menu" /}
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <i class="icon-edit"></i>
                    <a href="#">企业信息录入</a>
                </li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>企业信息录入 </h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post">
                            <input type="hidden" name="Id" value="{$data.Id}">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">企业名称</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="name" value="{$data.name}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">企业地理位置</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="address" value="{$data.address}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">企业法人</label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="typeahead"  data-provide="typeahead" data-items="4" name="person" value="{$data.person}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="date01">企业创建日期</label>
                                    <div class="controls">
                                        <input name="creatdate" type="text" class="input-xlarge datepicker" id="date01" value="{$data.creatdate|date='Y-m-d',###}">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属中队</label>
                                    <div class="controls">
                                        <input name="team" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source='' value="{$data.team}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">责任交警安全员</label>
                                    <div class="controls">
                                        <input name="Police" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" data-source='' value="{$data.Police}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">企业联络人（安全员）</label>
                                    <div class="controls">
                                        <input name="Staff" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.Staff}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属危险品运输车辆</label>
                                    <div class="controls">
                                        <input name="truck" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.truck}">

                                    </div>
                                </div>
                                <div class="control-group">业务往来危险品运输车辆
                                    <div class="controls">
                                        <input name="RelationTruck" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.RelationTruck}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属驾驶员</label>
                                    <div class="controls">
                                        <select class="select" name="driver" size="1" >
                                            <option value="" selected="">请选择驾驶员</option>
                                            {volist name="driver" id='vo'}
                                            <option value="{$vo.Id}" {eq name="vo.Id" value="$data.driver"}selected{/eq} >{$vo.name1}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">所属押运员</label>
                                    <div class="controls">
                                        <input name="Escort" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.Escort}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">企业经营范围</label>
                                    <div class="controls">
                                        <input name="Range" type="text" class="span6 typeahead" id="text"  data-provide="typeahead" data-items="4" value="{$data.Range}">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="typeahead">备注</label>
                                    <div class="controls">
                                        <textarea name="remark" id="" cols="100" rows="10">{$data.remark}</textarea>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here settings can be configured...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
{include file="public/foot" /}