{include file="public/header" /}
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        {include file="public/menu" /}
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                </li>
                <li>
                    <i class="icon-angle-right"></i>
                    <a href="#">企业</a>
                </li>
                <li>
                    <i class="icon-angle-right"></i>
                    <a href="#">列表</a>
                </li>
            </ul>
            <table class="table table-bordered">
                <form class="form-horizontal" method="post" action="" target="_self">
                    <input type="text" placeholder="输入公司名称" value="" class="input-text" style="width:120px" name="name">

                    <button type="submit" class="btn btn-success" id="" name="" style="margin-left: 10px" > 搜索</button>
                </form>
                <div><a href="{:url('admin/company/add')}" class="btn btn-primary">新增</a></div>
                <thead>
                <tr>
                    <th>公司名称</th>
                    <th>法定代表人</th>
                    <th>地址</th>
                    <th>联系电话</th>
                    <th>车辆数</th>
                    <th>所属中队</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='data'}
                <tr>
                    <td>{$data.name}</td>
                    <td>{$data.person}</td>
                    <td>{$data.address}</td>
                    <td>{$data.Staff}</td>
                    <td>10</td>
                    <td>{$data.team}</td>
                    <td>{$data.remark}</td>
                    <td><a href="{:url('edit','id='.$data.Id)}">编辑</a>|<a href="{:url('del','id='.$data.Id)}">删除</a></td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="pagination">{$list->render()}</div>
        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here settings can be configured...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
{include file="public/foot" /}


